<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores vel dicta reprehenderit ducimus eveniet commodi sapiente ipsum laboriosam est, debitis delectus consequuntur obcaecati fugit id totam exercitationem vero! Est?</p>
  <nav>
    <ul>
      <li><a href="#" routerLink="/">Home</a></li>
      <li><a href="#" routerLink="/people">People</a></li>
      <li><a href="#" routerLink="/products">Products</a></li>
      <li><a href="#" routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>